body {
  font-family: Arial;
  text-align: center;
  margin: 0;
}

header {
  background: #d32f2f;
  color: white;
  padding: 20px;
}

.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.product {
  border: 1px solid #ccc;
  padding: 15px;
  width: 220px;
}

button {
  padding: 10px;
  background: #ff9800;
  border: none;
  cursor: pointer;
}

.order-btn {
  display: inline-block;
  margin: 20px;
  padding: 15px 25px;
  background: green;
  color: white;
  text-decoration: none;
  font-size: 18px;
}
